**/__pycache__/
**/*.pyc
ai_slam_ws/build/
ai_slam_ws/install/
ai_slam_ws/log/
log/
install/
!.gitkeep
.DS_Store
.vscode/
.venv/
build/
.zencoder/
.zenflow/
niemoje/
moje/
Raporty/
AGENTS.md
.cursor
archive/
out/